

 #mapa{

  float: left;
}


#content-mapa-list{
    
    clear:both;
    display: block;
    margin-bottom: 4px;
}

.content-map + a {

  clear:bouth;
}

#btn-nuevo-mapa{
  clear:bouth;
}

.content-map{
    
    float: left;
}

#mapa, #mapa-index, .content-map{
 width:593px;
 height: 500px;
}

#lista-lugares{
    float: left;
}

#content-mapas-info{
    
     border: 1px solid #0099FF;
    height: 502px;
    width: 950px;
}

.olPopupCloseBox{
    
    background: url("/images/fugue-icons-3.5/icons/cross-script.png") !important;
}



.control_active {
    color: #FFF;
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    font-weight: normal;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}


