

 #mapa{

  float: left;
}


#content-mapa-list{
    
    clear:both;
    display: block;
    margin-bottom: 4px;
}

.content-map + a {

  clear:bouth;
}

#btn-nuevo-mapa{
  clear:bouth;
}

.content-map{
    
    float: left;
}

#mapa, #mapa-index, .content-map{
 width:593px;
 height: 500px;
}

#lista-lugares{
    float: left;
}

#content-mapas-info{
    
     border: 1px solid #0099FF;
    height: 502px;
    width: 950px;
}

.olPopupCloseBox{
    
    background: url("/images/fugue-icons-3.5/icons/cross-script.png") !important;
}