

 #mapa{

  float: left;
}


#content-mapa-list{
    
    clear:both;
    display: block;
}

.content-map + a {

  clear:bouth;
}

#btn-nuevo-mapa{
  clear:bouth;
}

#mapa{
 width:593px;
 height: 500px;
}
