/* 
    Document   : double_list_widget_style
    Created on : 18/08/2012, 06:53:10 PM
    Author     : jint
    Description:
        Purpose of the stylesheet follows.
*/

.double_list select{
    min-width: 150px;
    border: solid 2px #1c94c4;
}

.double_list_select-selected{
    
}