/* 
    Document   : eventos.css
    Created on : 19/08/2012, 05:55:50 PM
    Author     : jint
    Description:
        Purpose of the stylesheet follows.
*/

.has-evento{
    background: #99BE4E;
    color:  #FFF;
}


