label{
    padding: 5px;
}




#login-content{

    margin: 0;
    width: 100%;

}


#login-contenido{
      min-height: 740px;
}

#login-box{
  margin: 60px auto;
  text-align: center;
  width: 400px;
  background:transparent;
  padding: 0 24px;
}

#login-box-content{

  /*background: none repeat scroll 0 0 #FFFFFF; */
    border-radius: 0px 0px 45px 45px;
    border: solid 1px grey; 
    border-top: none;
    font-family: helvetica;
    font-size: 14px;
    height: 116.2px;
    padding: 24px 6px;
    text-align: center;
    margin:0;
    
    
}

label{
    display: block;
}

input.button{
  font-size: 13px;
  margin-top: 10px;
}

#login-box-header {
    background-color: #3C8DDE;
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    border-radius: 27px 27px 0 0;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
    height: 30px;
    width: 362px;
    margin: 0 2px 0px -1px;
    padding: 2px 0 2px 39px;
    border-bottom: none;
}


