/* body{
    background: url("../images/temaui/fondoGeneral.jpg");
    font-family: Arial,Helvetica,sans-serif;

    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin:0px;
    padding: 0px;
    
}  
h1 {
    font-size: 30px;
    color: #0B2E50;
}


table {
    margin: 34px;
}


.error_list li{
    color:#C83B36;
}

#conteiner{
    width: 100%;
    padding: 0px;
    margin: 0px;     
}



#header{
 background: #007A6D ;   
  height: 60px;
}

#sidebar{
 background: #3E3C3D ;
 float: left;
 width: 500;
}

#footer{
     background: #0B2E56;  
     height: 200px;
     clear: both;
}/home/jint/Escritorio/cssmenu/menu_assets/styles.css

table.lista{
    text-align: center;
}

ul.menu li{
    color: #FFF;
    list-style-type: none;
    display: inline;
}

.flash_notice
{
 height: 20px;
  background-color: #cfc;
}

.flash_error
{
  height: 20px;
  background-color: #f33;
  color: #fff;
}
*/

body{


    border-radius: 5px 5px;
    background: url("/images/patrones-fondo/cardboard_flat.png") repeat; 
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin:0 auto;
    padding: 0px;

}  

textarea{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
}



#contenido h1, div.ui-dialog h1{
    /* background: -moz-linear-gradient(center top , #007D9A 0%, #87AEDD 100%) repeat scroll 0 0 transparent; */
    border-radius: 5px 5px;
    color: #3791B5;
    font-size: 21px;
}



input , textarea{
    border: 1px solid #888;
    padding: 4px;
    font-size: 1em;
    background-color: #F8F8F8;
}

input:focus {
    border-color: #1C94C4;
    background-color: #F4F4DE;
    outline: none;

}


textarea:focus{

    outline: none;
    border-color: #1C94C4;
    background-color: #F7F6BE;


}


a:link {
    font-weight: bold;
    text-decoration: none;
    color: #3792b3;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #427F93;
}

a:hover, a:active {
    text-decoration: underline;
    color: #427F93;
}

#sf_admin_container td, #sf_admin_container th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    text-align: left;
    vertical-align: top;
}
default.css (línea 26)
#sf_admin_container th {
    background-color: #E7EEF6;
    white-space: nowrap;
}
th {
    font-weight: bold;
}
td, th {
    padding: 7px;
}
th {
    font-weight: bold;
    text-align: center;
}
th, td {
    border: 1px solid #000000;
    padding: 0.5em;
}
caption, th {
    text-align: left;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

#btn-cerrar{
    float: right;
    color: #FFF;
}


#contenedor {
    /*    border: medium solid #E3E4E3;*/
    margin: 0 auto;
    width: 83%;

}


div#menu-lateral{
    with:150px;
    margin-bottom: 10px;
}

#menu-lateral a.button{
    display: block;
    text-align: left;
}

#menu-lateral li{
    list-style: none;

}


#lateral {
    float: left;
    background: #4D7290;
    min-height: 300px;
    padding: 5px 10px;
    width: 27%;
}

#contenido{
    float: left;
    padding:20px 35px 20px;
    width: 93%;
    min-height:390px;
    height: auto !important;
    height: 390px;
}

#header{
    color: #FFF;
    background-color: #0E5187;
    /*  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2E373F));  */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E5187), to(#2E373F));
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    background-image: -o-linear-gradient (#0E5187, #003B68);
    background-image: linear-gradient(#0E5187, #003B68);
    padding: 8px 5px;
    height: 17px;
}



#pie {
    clear: both;
    height: 50px;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E5187), to(#2E373F));
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    background-image: -o-linear-gradient (#0E5187, #003B68);
    background-image: linear-gradient(#0E5187, #003B68);
    /*    border-radius: 5px 5px;  */

}

.nombre-bienvenida{
    font-weight: bold;
}

div.flash_ok{
    background: #F7F6BE url("../images/raster/green/check_12x10.png") no-repeat;
    background-position: 4px 6px;
    padding: 4px 2px 3px 20px;
}


#cssmenu a{
    font-size: 10px;
}



table.tbl-show th{
    text-align: left;
}

table.info{
    border-collapse: collapse;   
}


table.info td , table.info th{
    text-align: center;



}


#componente-calendario{
    font-size: 7px;
}


span.customStyleSelectBox { 
    font-size:11px;
    background-color: #f5f0de;
    color:#7c7c7c; 
    padding:5px 7px; 
    border:1px solid #e7dab0; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px 5px; 
    line-height: 11px; }

span.customStyleSelectBox.changed {
    background-color: #f0dea4; 
} 

.customStyleSelectBoxInner { 
    background:url(../images/raster/gray_dark/check_12x10.png) no-repeat center right;
}
.info-proyecto{
    background: #EDEDDD; 
    padding: 1px 13px;
    width: 380px;

    margin-bottom: 5px;
}

.into_estado_proyecto{
    color: #000;
    margin-top: 5px;
}

.titulo-proyecto{

    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.into_estado_proyecto span{
    font-weight: bold;
}


/* a.button{
    background:  -moz-linear-gradient(center top , #87AEDD 0%, #FFF 100%) repeat scroll 0 0 transparent;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}

a:hover.button{
color:#0066CC;
}

*/

/* Admin Style */




table.info th, table.info td{
    text-align: left;
}
table.listado{
    border-collapse: collapse;
    margin-bottom: 12px;

}

table.listado th,table.listado td{



    border-bottom: 1px solid #6F767E;
    font-size: 1.2em;
    padding: 3px 7px 2px;
    text-align: center;
}


table.listado thead th{
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E5187), to(#2E373F));
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    background-image: -o-linear-gradient (#0E5187, #003B68);
    background-image: linear-gradient(#0E5187, #003B68);
    color: #FFF;


}

table.listado thead .celda-inicial{ 
    border-radius:14px  0px 0px 0px;

}

table.listado thead .celda-final{ 
    border-radius:0px  14px 0px 0px;

}





.odd{
    /*  background:  #D4E8F7; */
}

table.listado tbody{

    background-color: #FAFAFA;
    /*  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2E373F));  */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#EAEAEA));
    background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background-image: -o-linear-gradient (#FAFAFA, #EAEAEA);
    background-image: linear-gradient(#FAFAFA, #EAEAEA);

}



div.ui-dialog{
    padding: 0;
    z-index: 2005 !important;
}

div.ui-widget-overlay{
    z-index: 2000 !important;
}

.ui-helper-clearfix:after{
    height:0;
    padding: 0;
}


/* Tree tareas*/

.treeview ul{
    background-color: transparent;
}


.menu-acciones-tarea {
    display: block;
    /* position: absolute;
     z-index: 36;*/
    background: blue;
}
.menu-acciones-tarea a {
    display: inline;
    float: left;
}


.panel-gantt{
    height: 252px;
    overflow: auto
}
.content-gantt-left , .content-gantt-right{
    float: left;
}


.content-gantt-left {
    width: 290px;
    border-right: solid 1px;
    overflow: auto;
} 

.content-gantt-right{
    width: 300px;
    overflow: auto;
}


#content-asignar-usuario{
    min-width: 478px;
}


table.treeTable.fixed{ table-layout:fixed;
                       width:600px;

}
table.treeTable.fixed td { table-layout:fixed; overflow:hidden; word-wrap:break-word; }



.grupo-uno{
    background: #A1D0ED; 
    color: white; 
    text-align: left !important;

}

.gantt-table tr, .gantt-table td{

    height: 33px;
}

#evento-form-content{
    width: 550px;
}



.aimLink{
    display: none;
}





#main {
    width: 510px;
    margin: 0 auto;
}

#content-slider {
    width: 490px;
    height: 6px;
    margin: 5px;
    background: #BBBBBB;
    position: relative;
}

.ui-slider-handle {
    width: 8px;
    height: 14px;
    position: absolute;
    top: -4px;
    background: #478AFF;
    border: solid 1px black;
}

#content-scroll {
    width: 500px;
    height: 300px;
    margin-top: 10px;
    overflow: hidden;
    border: solid 1px black;
}

#content-holder {
    width: 1500px;
    height: 270px;
}

.content-item {
    width: 290px;
    height: 270px;
    padding: 5px;
    float: left;
}


#form-cotent{
    width: 400px;
}


#body-left, #body-right{
    overflow: hidden;
}


.fixedColumn{
    float: left;
    height: 555px;
    width: 150px;
}

.fixedTable{
    border-collapse: separate;
    height: 477px;
    overflow: hidden;
    padding: 0;
    width: 150px;
}

.fixedContainer{

    float: left;
    width: 609px;
}

#form-mapa-content{

    width: 500px;
}


.ui-dialog  form table th, 
.ui-dialog  form table td{
    padding: 5px;
    vertical-align: top;
}

.acciones-form{
    margin: 2px auto; 
}

#dialog-warning{
    display:none;
}


#lista-lugares {
    border: 1px solid;
    float: left;
    height: 294px;
    overflow: auto;
    width: 354px;
}

#info-mapa{
    border: 1px solid;
    float: left;
    height: 294px;
    overflow: auto;
    width: 354px;
}


/*  Mapa Open layers */

.olControlNavigationItemActive { 
    background: #226699 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/theme/default/img/pan_on.png'); 
    width:  22px;  
    height: 22px; 
} 
.olControlNavigationItemInactive { 
    background: #996622 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/theme/default/img/pan_off.png'); 
    width:  22px;  
    height: 22px; 
} 

/*Zoom Box Control*/ 
.olControlZoomBoxItemInactive { 
    width:  22px;  
    height: 22px; 
    background:#999933 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/drag-rectangle-off.png'); 
} 
.olControlZoomBoxItemActive { 
    width:  22px;  
    height: 22px; 
    background:#999966 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/drag-rectangle-on.png'); 
} 

/*Zoom to Max Extent Control*/ 
.olControlZoomToMaxExtentItemInactive { 
    width:  18px;  
    height: 18px; 
    background:#333399 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/zoom-world-mini.png'); 
} 

/*Custom Toggle Button*/ 



.olControlToggleDrawItemActive{
    background: url('/images/fugue-icons-3.5/icons/plus.png') no-repeat #22dd22;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;  
    float: left;
} 


.olControlToggleDrawItemInactive{ 
    background:  url('/images/fugue-icons-3.5/icons/plus.png') no-repeat #C3D1D3 ;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;  
    float: left;
} 

/*Custom Toggle Button*/ 
.olControlToggleDragItemInactive{ 
    background: url('/images/fugue-icons-3.5/icons/pin--pencil.png')   no-repeat #C3D1D3;
    border:5px solid #202040; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 
.olControlToggleDragItemActive { 
    background: url('/images/fugue-icons-3.5/icons/pin--pencil.png') no-repeat  #003366;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 


/*Custom Toggle Button*/ 
.olControlDestroyItemInactive { 
    background:url('/images/fugue-icons-3.5/icons/pin--minus.png') no-repeat  #C3D1D3;
    border:5px solid #FF0000; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 
.olControlDestroyItemActive { 
    background: url('/images/fugue-icons-3.5/icons/hand-point-090.png') no-repeat #003366;
    border:5px solid #FF0022; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 



/*Custom Toggle Button*/ 
.olControlPointerItemActive{ 
    background:url('/images/fugue-icons-3.5/icons/hand-point-090.png') no-repeat  #003366;
    border:5px solid #FF0000; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 
.olControlPointerItemInactive { 
    background:url('/images/fugue-icons-3.5/icons/hand-point-090.png') no-repeat  #C3D1D3;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 


#panel_div{

    float: left;
    margin-left: 195px;
}

td.primera-celda-arbol, td.primera-celda{
    text-align: left !important;

}

.convensiones-table td{

    border-right: 1px solid;
    padding-left: 6px;
    padding-right: 9px; 
}

.table-form th{

    text-align: left;
    padding-left: 3px;
}

#map-control-content{

    background: none repeat scroll 0 0 #CCCCCC;
    height: 29px;
    margin: 0;
}


#map-control-content select{
    float: left; 

}


a.expander{
    margin-left: -7px !important;

}
#content-form-proyecto{
    height: 460px;
}

