
/*
.flash_notice
{
 height: 20px;
  background-color: #cfc;
}

.flash_error
{
  height: 20px;
  background-color: #f33;
  color: #fff;
}*/


body{


    border-radius: 5px 5px;
    background: url("/images/patrones-fondo/cardboard_flat.png") repeat; 
    font-family: "Helvetica Neue",Helvetica,sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin:0 auto;
    padding: 0px;
}  

textarea{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
}


label{
    font-weight: bold;
}
#contenido h1, div.ui-dialog h1{
    /* background: -moz-linear-gradient(center top , #007D9A 0%, #87AEDD 100%) repeat scroll 0 0 transparent; */
    border-radius: 5px 5px;
    color: #3791B5;
    font-size: 21px;
}



input , textarea{
    border: 1px solid #888;
    padding: 4px;
    font-size: 1em;
    background-color: #F8F8F8;
}

input:focus {
    border-color: #1C94C4;
    background-color: #F4F4DE;
    outline: none;

}


textarea:focus{

    outline: none;
    border-color: #1C94C4;
    background-color: #F7F6BE;


}


a:link {
    font-weight: bold;
    text-decoration: none;
    color: #3792b3;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #427F93;
}

a:hover, a:active {
    text-decoration: underline;
    color: #427F93;
}


#btn-cerrar{
    float: right;
    color: #FFF;
}


#contenedor {
    /*    border: medium solid #E3E4E3;*/
    margin: 0 auto;
    width: 83%;

}

#menu-principal{
    background: #FFF;
}

div#menu-lateral{
    with:150px;
    margin-bottom: 10px;
}

#menu-lateral a.button{
    display: block;
    text-align: left;
}

#menu-lateral li{
    list-style: none;

}


#lateral {
    float: left;
    background: #4D7290;
    min-height: 300px;
    padding: 5px 10px;
    width: 27%;
}

#contenido{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: auto !important;
    min-height: 390px;
    padding: 20px 35px;
    width:91.3%;
}

#menu_admin li{
    list-style: none;
}

#header{
    color: #FFF;
    background-color: #0E5187;
    /*  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2E373F));  */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E5187), to(#2E373F));
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    background-image: -o-linear-gradient (#0E5187, #003B68);
    background-image: linear-gradient(#0E5187, #003B68);
    padding: 8px 5px;
    height: 17px;
}



#pie {
    clear: both;
    height: 50px;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E5187), to(#2E373F));
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    background-image: -o-linear-gradient (#0E5187, #003B68);
    background-image: linear-gradient(#0E5187, #003B68);
    /*    border-radius: 5px 5px;  */

}

.nombre-bienvenida{
    font-weight: bold;
}

div.flash_ok{
    background: #F7F6BE url("../images/raster/green/check_12x10.png") no-repeat;
    background-position: 4px 6px;
    padding: 4px 2px 3px 20px;
}


#cssmenu a{
    font-size: 10px;
}



table.tbl-show th{
    text-align: left;
}

table.info{
    border-collapse: collapse;   
}


table.info td , table.info th{
    text-align: center;



}


#componente-calendario{
    font-size: 7px;
}


span.customStyleSelectBox { 
    font-size:11px;
    background-color: #f5f0de;
    color:#7c7c7c; 
    padding:5px 7px; 
    border:1px solid #e7dab0; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px 5px; 
    line-height: 11px; }

span.customStyleSelectBox.changed {
    background-color: #f0dea4; 
} 

.customStyleSelectBoxInner { 
    background:url(../images/raster/gray_dark/check_12x10.png) no-repeat center right;
}
.info-proyecto{
    background: #EDEDDD; 
    padding: 1px 13px;
    width: 380px;

    margin-bottom: 5px;
}

.into_estado_proyecto{
    color: #000;
    margin-top: 5px;
}

.titulo-proyecto{

    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.into_estado_proyecto span{
    font-weight: bold;
}


/* a.button{
    background:  -moz-linear-gradient(center top , #87AEDD 0%, #FFF 100%) repeat scroll 0 0 transparent;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}

a:hover.button{
color:#0066CC;
}

*/

/* Admin Style */




table.info th, table.info td{
    text-align: left;
}
table.listado{
    border-collapse: collapse;
    margin-bottom: 12px;

}

table.listado th,table.listado td{



    border-bottom: 1px solid #6F767E;
    font-size: 1.2em;
    padding: 3px 7px 2px;
    text-align: center;
}


table.listado thead th{
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E5187), to(#2E373F));
    background-image: -moz-linear-gradient(#0E5187, #003B68);
    background-image: -o-linear-gradient (#0E5187, #003B68);
    background-image: linear-gradient(#0E5187, #003B68);
    color: #FFF;


}

table.listado thead .celda-inicial{ 
    border-radius:14px  0px 0px 0px;

}

table.listado thead .celda-final{ 
    border-radius:0px  14px 0px 0px;

}





.odd{
    /*  background:  #D4E8F7; */
}

table.listado tbody{

    background-color: #FAFAFA;
    /*  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2E373F));  */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#EAEAEA));
    background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background-image: -o-linear-gradient (#FAFAFA, #EAEAEA);
    background-image: linear-gradient(#FAFAFA, #EAEAEA);

}



div.ui-dialog{
    padding: 0;
    z-index: 2005 !important;
}

div.ui-widget-overlay{
    z-index: 2000 !important;
}

.ui-helper-clearfix:after{
    height:0;
    padding: 0;
}


/* Tree tareas*/

.treeview ul{
    background-color: transparent;
}


.menu-acciones-tarea {
    display: block;
    /* position: absolute;
     z-index: 36;*/
    background: blue;
}
.menu-acciones-tarea a {
    display: inline;
    float: left;
}


.panel-gantt{
    height: 252px;
    overflow: auto
}
.content-gantt-left , .content-gantt-right{
    float: left;
}


.content-gantt-left {
    width: 290px;
    border-right: solid 1px;
    overflow: auto;
} 

.content-gantt-right{
    width: 300px;
    overflow: auto;
}


#content-asignar-usuario{
    min-width: 478px;
}


table.treeTable.fixed{ table-layout:fixed;
                       width:600px;

}
table.treeTable.fixed td { table-layout:fixed; overflow:hidden; word-wrap:break-word; }



.grupo-uno{
    background: #A1D0ED; 
    color: white; 
    text-align: left !important;

}

.gantt-table tr, .gantt-table td{

    height: 33px;
}

#evento-form-content{
    width: 550px;
}

form-tarea-cotent{
    width: 520px;
} 



.aimLink{
    display: none;
}





#main {
    width: 510px;
    margin: 0 auto;
}

#content-slider {
    width: 490px;
    height: 6px;
    margin: 5px;
    background: #BBBBBB;
    position: relative;
}

.ui-slider-handle {
    width: 8px;
    height: 14px;
    position: absolute;
    top: -4px;
    background: #478AFF;
    border: solid 1px black;
}

#content-scroll {
    width: 500px;
    height: 300px;
    margin-top: 10px;
    overflow: hidden;
    border: solid 1px black;
}

#content-holder {
    width: 1500px;
    height: 270px;
}

.content-item {
    width: 290px;
    height: 270px;
    padding: 5px;
    float: left;
}


#form-cotent{
    width: 400px;
}


#body-left, #body-right{
    overflow: hidden;
}


.fixedColumn{
    float: left;
    height: 555px;
    width: 150px;
}

.fixedTable{
    border-collapse: separate;
    height: 477px;
    overflow: hidden;
    padding: 0;
    width: 150px;
}

.fixedContainer{

    float: left;
    width: 609px;
}

#form-mapa-content{

    width: 500px;
}


.ui-dialog  form table th, 
.ui-dialog  form table td{
    padding: 5px;
    vertical-align: top;
}

.acciones-form{
    margin: 2px auto; 
}

#dialog-warning{
    display:none;
}



#info-mapa{
    border: 1px solid;
    float: left;
    height: 294px;
    overflow: auto;
    width: 354px;
}


/*  Mapa Open layers */

.olControlNavigationItemActive { 
    background: #226699 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/theme/default/img/pan_on.png'); 
    width:  22px;  
    height: 22px; 
} 
.olControlNavigationItemInactive { 
    background: #996622 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/theme/default/img/pan_off.png'); 
    width:  22px;  
    height: 22px; 
} 

/*Zoom Box Control*/ 
.olControlZoomBoxItemInactive { 
    width:  22px;  
    height: 22px; 
    background:#999933 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/drag-rectangle-off.png'); 
} 
.olControlZoomBoxItemActive { 
    width:  22px;  
    height: 22px; 
    background:#999966 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/drag-rectangle-on.png'); 
} 

/*Zoom to Max Extent Control*/ 
.olControlZoomToMaxExtentItemInactive { 
    width:  18px;  
    height: 18px; 
    background:#333399 url('http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/zoom-world-mini.png'); 
} 

/*Custom Toggle Button*/ 



.olControlToggleDrawItemActive{
    background: url('/images/fugue-icons-3.5/icons/plus.png') no-repeat #22dd22;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;  
    float: left;
} 


.olControlToggleDrawItemInactive{ 
    background:  url('/images/fugue-icons-3.5/icons/plus.png') no-repeat #C3D1D3 ;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;  
    float: left;
} 

/*Custom Toggle Button*/ 
.olControlToggleDragItemInactive{ 
    background: url('/images/fugue-icons-3.5/icons/pin--pencil.png')   no-repeat #C3D1D3;
    border:5px solid #202040; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 
.olControlToggleDragItemActive { 
    background: url('/images/fugue-icons-3.5/icons/pin--pencil.png') no-repeat  #003366;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 


/*Custom Toggle Button*/ 
.olControlDestroyItemInactive { 
    background:url('/images/fugue-icons-3.5/icons/pin--minus.png') no-repeat  #C3D1D3;
    border:5px solid #FF0000; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 
.olControlDestroyItemActive { 
    background: url('/images/fugue-icons-3.5/icons/hand-point-090.png') no-repeat #003366;
    border:5px solid #FF0022; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 



/*Custom Toggle Button*/ 
.olControlPointerItemActive{ 
    background:url('/images/fugue-icons-3.5/icons/hand-point-090.png') no-repeat  #003366;
    border:5px solid #FF0000; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 
.olControlPointerItemInactive { 
    background:url('/images/fugue-icons-3.5/icons/hand-point-090.png') no-repeat  #C3D1D3;
    border:5px solid #202020; 
    cursor: pointer;
    height: 28px; 
    width:  28px;
    float: left;
} 


#panel_div{

    float: left;
    margin-left: 405px;
}

td.primera-celda-arbol, td.primera-celda{
    text-align: left !important;

}

.convensiones-table td{

    border-right: 1px solid;
    padding-left: 6px;
    padding-right: 9px; 
}

.table-form th{

    text-align: left;
    padding-left: 3px;
}






a.expander{
    margin-left: -7px !important;

}
#content-form-proyecto{
    width: 480px;
}

#content-asociar-usuario{
    width: 523px;
}


table.list{
    border-collapse: collapse;
    margin-bottom: 9px;
}
#gproject_admin_container td, #gproject_admin_container th, table.list  th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    text-align: left;
    vertical-align: top;
}

#gproject_admin_container th ,  table.list  th {
    background-color: #E7EEF6;
    white-space: nowrap;
}
 table.list  th {
    font-weight: bold;
}
 table.list  td,  table.list  th {
    padding: 7px;
}
 table.list  th {
    font-weight: bold;
    text-align: center;
}
 table.list  th,  table.list  td {
    border: 1px solid #000000;
    padding: 0.5em;
}
caption,  table.list  th {
    text-align: left;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
}
legend {
    color: #000000;
}
del, ins {
    text-decoration: none;
}

select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}

abbr, acronym {
    border-bottom: 1px dotted #000000;
    cursor: help;
}
em {
    font-style: italic;
}
blockquote, table.list ul, table.list ol, table.list dl {
    margin: 1em;
}
table.list ol,table.list ul,table.list  dl {
    margin-left: 2em;
}
table.list ol li {
    list-style: decimal outside none;
}
table.list ul li {
    list-style: disc outside none;
}
dl dd {
    margin-left: 1em;
}
table.list th, table.list td {
    border: 1px solid #000000;
    padding: 0.5em;
}
table.list th {
    font-weight: bold;
    text-align: center;
}



#sf_admin_container a {
    color: #464646;
    text-decoration: none;
}
#sf_admin_container a:hover {
    color: #000000;
    text-decoration: underline;
}

table.list th {
    background-color: #E7EEF6;
    white-space: nowrap;
}
table.list td, table.list th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    text-align: left;
    vertical-align: top;
}
table.list tr {
    background-color: #FFFFFF;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}


table.list tr:hover {
    background-color: #FFFFEE;
}






table.list tfoot td {
    list-style: none outside none;
    margin: 0;
    text-align: right;
}
table.list thead img,table.list tfoot img {
    vertical-align: middle;
}

table.list .pagination {
    float: right;
}


table.list ul.sf_admin_td_actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.list ul.sf_admin_td_actions li {
    display: inline;
    font-size: 90%;
    list-style-type: none;
    margin-right: 10px;
}
table.list ul.sf_admin_actions {
    list-style-type: none;
    margin: 10px 0;
}
table.list ul.sf_admin_actions li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}
#sf_admin_container ul.sf_admin_actions li a, #sf_admin_container ul.sf_admin_td_actions li a {
    background: url("../images/default.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}
#sf_admin_container ul li.sf_admin_action_new a {
    background: url("../images/new.png") no-repeat scroll 0 0 transparent;
}
#sf_admin_container ul li.sf_admin_action_delete a {
    background: url("../images/delete.png") no-repeat scroll 0 0 transparent;
}
#sf_admin_container ul li.sf_admin_action_list a {
    background: url("../images/list.png") no-repeat scroll 0 0 transparent;
}
#sf_admin_container ul li.sf_admin_action_edit a {
    background: url("../images/edit.png") no-repeat scroll 0 0 transparent;
}
#sf_admin_container .notice {
    background: url("../images/tick.png") no-repeat scroll 10px 4px #FFFFCC;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin: 4px 0;
    padding: 4px 4px 4px 30px;
}
#sf_admin_container .error {
    background: url("../images/error.png") no-repeat scroll 10px 4px #FF3333;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #FFFFFF;
    margin: 4px 0;
    padding: 4px 4px 4px 30px;
}
#sf_admin_container .sf_admin_row_0 td {
}
#sf_admin_container .sf_admin_row_1 td {
}
#sf_admin_container fieldset h2 {
    background-color: #CCCCFF;
    color: #333333;
    font-size: 11px;
    margin: 0;
    padding: 3px;
}
#sf_admin_container fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin-bottom: 3px;
}
#sf_admin_container fieldset.collapsed * {
    display: none;
}
#sf_admin_container fieldset.collapsed h2, #sf_admin_container fieldset.collapsed {
    display: block !important;
}
#sf_admin_container fieldset.collapsed .collapse-toggle {
    display: inline !important;
}
#sf_admin_container fieldset.collapse h2 a.collapse-toggle {
    color: #FFFFCC;
}
#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover {
    text-decoration: underline;
}
#sf_admin_container label {
    color: #666666;
    display: block;
    float: left;
    font-weight: normal !important;
    padding: 0 1em 3px 0;
    text-align: left;
    width: 8em;
}
#sf_admin_container ul label, #sf_admin_container td label {
    display: inline;
    float: none !important;
}
#sf_admin_container .sf_admin_form_row {
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    padding: 10px;
}
#sf_admin_container .sf_admin_form_row .content {
    padding-left: 9em;
}
#sf_admin_container .help {
    color: #AAAAAA;
    padding-left: 9em;
}
#sf_admin_container td .help {
    padding-left: 0;
}
#sf_admin_container .errors input, #sf_admin_container .errors select {
    border: 1px solid #FF2222;
}
#sf_admin_container .sf_admin_list .sf_admin_boolean {
    text-align: center;
}
