/* body{
    background: url("../images/temaui/fondoGeneral.jpg");
    font-family: Arial,Helvetica,sans-serif;

    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin:0px;
    padding: 0px;
    
}  
h1 {
    font-size: 30px;
    color: #0B2E50;
}


table {
    margin: 34px;
}


.error_list li{
    color:#C83B36;
}

#conteiner{
    width: 100%;
    padding: 0px;
    margin: 0px;     
}



#header{
 background: #007A6D ;   
  height: 60px;
}

#sidebar{
 background: #3E3C3D ;
 float: left;
 width: 500;
}

#footer{
     background: #0B2E56;  
     height: 200px;
     clear: both;
}/home/jint/Escritorio/cssmenu/menu_assets/styles.css

table.lista{
    text-align: center;
}

ul.menu li{
    color: #FFF;
    list-style-type: none;
    display: inline;
}

.flash_notice
{
 height: 20px;
  background-color: #cfc;
}

.flash_error
{
  height: 20px;
  background-color: #f33;
  color: #fff;
}
*/

 body{
   /* background: -moz-linear-gradient(center top , #B9B9B9 0%, #FFF 100%) repeat scroll 0 0 transparent;*/
    border-radius: 5px 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin:0 auto;
    padding: 0px;
    
}  

#btn-cerrar{
 float: right;
 color: #FFF;
}


#contenedor {
  width: 100%;
  magin: 0 auto;

}




#lateral {
  float: left;
  width: 14%;
  min-height: 300px;
}
;;
    float: left;
    margin: 0 10px;
    min-height: 690px;
    padding: 0 20px;
    width: 79%;
}


#pie {
  clear: both;
  height: 50px;
   background: -moz-linear-gradient(center top , #333333 0%, #222222 100%) repeat scroll 0 0 transparent;
    border-radius: 5px 5px;

}


 
h1{
   background: -moz-linear-gradient(center top , #007D9A 0%, #87AEDD 100%) repeat scroll 0 0 transparent;
    border-radius: 5px 5px;
   color: #FFF;
   font-size: 21px;
    padding: 0 20px;
}

table.tbl-show th{
    text-align: left;
}

input.icon-button {
    width: auto;
    height: auto;
}

.icon-button{
background: url("../images/jquery-ui/ui-icons_222222_256x240.png");
}

a.button{
    background:  -moz-linear-gradient(center top , #87AEDD 0%, #FFF 100%) repeat scroll 0 0 transparent;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}

a:hover.button{
color:#0066CC;
}


